<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.passionzz.mybatis.mapper.UserMapper">
    <!--User getUserByUsername(String username);    -->
    <select id="getUserByUsername" resultType="User">
        select * from t_user where username = #{username}
    </select>
    <!--User CheckLogin(String username, String password);-->
    <select id="CheckLogin" resultType="User">
        <!--select * from t_user where username = #{param1} and password = #{param2}-->
            select * from t_user where username = #{arg0} and password = #{arg1}
    </select>
    <!-- User insertUser(User user);-->
    <insert id="insertUser" >
        insert into t_user values (null, #{username}, #{password}, #{age}, #{gender}, #{email})
    </insert>
    <!--User checkLoginByParams(@Param("username")String username, @Param("password")String password);-->
    <select id="checkLoginByParams" resultType="User">
        select * from t_user where username = #{username} and password = #{password}
    </select>
    <!--User getUserById(@Param("id")Integer id);-->
    <select id="getUserById" resultType="User">
        select * from t_user where id = #{id}
    </select>
    <!--List<User> getAllUser(); -->
    <select id="getAllUser" resultType="User">
        select * from t_user
    </select>
    <!--Integer getCount();-->
    <select id="getCount" resultType="int">
        select count(*) from t_user
    </select>
</mapper>